<div class="calculator">
  <ul class="keyboard">
    <a href="#"><li>7</li></a>
    <a href="#"><li>8</li></a>
    <a href="#"><li>9</li></a>
    <a href="#"><li>C</li></a>
    <a href="#"><li>AC</li></a>
    <a href="#"><li>4</li></a>
    <a href="#"><li>5</li></a>
    <a href="#"><li>6</li></a>
    <a href="#"><li>x</li></a>
    <a href="#"><li>/</li></a>
    <a href="#"><li>1</li></a>
    <a href="#"><li>2</li></a>
    <a href="#"><li>3</li></a>
    <a href="#"><li>+</li></a>
    <a href="#"><li>-</li></a>
    <a href="#"><li>0</li></a>
    <a href="#"><li>.</li></a>
    <li>=</li>
  </ul>

</div>